.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 24px;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  color: #60A5FA;
}

.details {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  margin-top: 24px;
}

.specText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  margin-right: 16px;
  background-color: #F3F4F6;
}

.specTextSmall {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6B7280;
}

.specTextBig  {
  margin: 0;
  /* margin-bottom: 10px; */
  font-size: 1.5rem;
  color: #60A5FA;
}

.specImage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 130px;
  height: 130px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
}

.specImage img {
  width: 60px;
  height: 60px;
  margin-top: 10px;
}