.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #F6F75F;
}

.submitButton {
  background: #3B82F6;
  height: 40px;
  width: 100px;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  border: none;
}

.logo {
  margin-right: 40px;
}