.container {
  width: 90%;
  height: 100%;
  max-width: 1180px;
  margin: auto;
  background-color: #EDEDED;
}

.countriesContainer {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}