.container {
  width: 90%;
  height: 100%;
  max-width: 1180px;
  margin: auto;
  background-color: #EDEDED;
  
}

.header {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.navbar {
  align-self: flex-end;
  padding-right: 24px;
}

.navItems {
  display: flex;
  list-style: none;
  
}

.link {
  text-decoration: none;
}

.navLink {
  margin-left: 16px;
  margin-right: 16px;
  color: #3B82F6;
  font-weight: 600;
}

.countriesContainer {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  min-height: 600px;
}

.resultsNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.resultsButton {
  padding: 10px;
  width: 100px;
  height: 40px;
  background-color: #E5E7EB;
}